{
  "extends": ["react-app", "airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "newline-before-return": "error",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "import/extensions": "error",
    "import/no-unresolved": "error",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "react/prop-types": "off",
    "no-param-reassign": ["error", { "props": false }],
    "operator-linebreak": ["error", "after"],
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  }
}
