{
  "extends": ["react-app", "airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "newline-before-return": "error",
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  }
}
